body {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fce6d3;
}

.container{
    border: 1px solid;
}


.images_petit {
    width:150px;
    height:200px;
}

@font-face {
    font-family: CaviarB;
    src: url('CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: Caviar;
    src: url('CaviarDreams.ttf');
}

li{
    font-family: "Caviar";
}
h1, h2, h3, h5{
    font-family: "CaviarB";
}

.fond{
    color : #fce6d3;
    background-color: rgba(169, 107, 62, 0.82);
    background-repeat:no-repeat;
    position: relative;
}

.pos{
    position: relative;
    padding-right: 5%;
    padding-left:5%;

    background-color: rgba(0, 0, 0, 0.88);
}
.pos2{
    margin-top: 25px;
}

#background{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#background img{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}