body {
    padding-top: 0px;
    padding-bottom: 0px;
    color:black;
    background-color: #9fcdff;
    background-image:url();
    background-size: 100% 100%;
}

.images_petit {
    width:150px;
    height:200px;
}

@font-face {
    font-family: CaviarB;
    src: url('CaviarDreams_Bold.ttf');
}
@font-face {
    font-family: Caviar;
    src: url('CaviarDreams.ttf');
}

li{
    font-family: "Caviar";
}
h1, h2, h3, h5{
    font-family: "CaviarB";
}
.fond{
    color : lightgray;
    background-color: #17a2b8;
    background-repeat:no-repeat;
}